* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}

a {
  text-decoration: none;
}




.header-left {
  float: left;
  height:90%;
}






@media all and (max-width: 1000px) {
  .top-wrapper {
    width: 100%;
    margin-bottom: 50px;
  }

  
}

@media all and (max-width: 750px) {
  .logo{
    width:100%;
  }
  .top-wrapper h1 {
    font-size: 32px;
    text-align: center;
  }

  .heading h2 {
    font-size: 20px;
  }
}

@media all and (max-width: 670px) {
  .header-right {
    display: none;
  }

  .menu-icon {
    display: block;
  }

  .top-wrapper .btn {
    width: 100%;
  }

  
  .top-wrapper {
    text-align: left;
  }

  .top-wrapper h1 {
    font-size: 24px;
    text-align: center;
  }

  .top-wrapper p {
    font-size: 14px;
  }


  
 
    
  
}

